<header class="navbar navbar-inverse">
    <div class="container-fluid">
        <nav>
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to 'Home', root_path%></li>

                <% if logged_in? %>
                    <li><%= link_to 'Sign Out', logout_path %></li>
                    <li><a class="current-user">Currently signed in as: <%= current_user[:username] %></a></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>
